html {
  background-color: #F1F1F1;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #F1F1F1;
}

.swa-wrap {
  width: 90%;
  margin: 0 auto;
}

.sw-header{
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
/* box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
  padding: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin-left: -20px;
  margin-bottom: 20px;
}

.h2,
h2 {
  font-size: 2rem;
  font-weight: inherit;
  }

.wrap a {
  text-decoration: none;
}

.nav-tab {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.swa-dashicons-before:before {
  font-family: dashicons;
  display: inline-block;
  line-height: unset;
  padding: 0px 12px;
  font-weight: 400;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  height: auto;
  font-size: 40px;
  vertical-align: middle;
  text-align: center;
  transition: color .1s ease-in;
  color: #555555;
  border: 0;
  border-top: 2px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 2px solid #fafafa;
  border-right: 1px solid #fafafa;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 9px;
}


.swa-field_item input{
  padding: 3px 8px;
  font-size: 1em;
  line-height: 100%;
  height: 1.7em;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

.swa-field_item select{
  padding: 3px 8px;
  font-size: 1em;
  height: auto;
  width: 30%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

.swa-field_item
textarea,
select{
  padding: 3px 8px;
  font-size: 1em;
  height: auto;
  width: 55%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}

p {
  font-size: inherit;
  line-height: 1.5;
  margin: 1em 0;
}

/* submit button */

#wpfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: #555d66;
  background-color: white;
}
